<header>
    <div class="esquerda">
        <h1>Seja bem-vindo(a) ao Controle de Estoque!</h1>
        <p>Desenvolvido com NodeJS + Express + Prisma + PostgreSQL</p>
        <a href="/clientes/cadastro">
            <i class='bx bxs-user-account'></i>
            <span>Criar conta</span>
        </a>
    </div>
    <img src="assets/imagem.jfif">
</header>
