<header>
    <div class="esquerda">
        <h1>Seja bem-vindo(a) ao Controle de Estoque!</h1>
        <p>Desenvolvido com NodeJS + Express + Prisma + PostgreSQL + Docker.</p>
        
        <div class="anuncio">
            <h2>Funcionalidades</h2>
        </div>
        <br>
        <div class="entradaesaida">
            <div class="item">
                <div class="header">
                    <i class='bx bxs-box'></i>
                    <h5>Controle e Cadastro</h5>
                </div>
                <p>Sistema de cadastro, e aqui você tembém poderá cadastrar e atualizar os seus produtos para um melhor gerenciamento.</p>
            </div>
            <div class="item">
                <div class="header">
                    <i class='bx bx-cart-alt'></i>
                    <h5>Detalhes e Vendas</h5>
                </div>
                <p>Realizar vendas e ver detalhes de entradas e saídas do seu estoque com informações sobre lucro de acordo com período desejado.</p>
            </div>
        </div>    
        <br>
        <a href="/clientes/cadastro">
            <i class='bx bxs-user-account'></i>
            <span>Criar conta</span>
        </a>

    </div>
    
    <img src="assets/imagem.jfif">
</header>




